<%-include('./partials/headerFront.ejs');%>
<body style="">

    <div class="container-fluid container_home" id="home">
        <div style="height: 100vh; position: absolute; top: 0; left: 0;" class="container-fluid" id="home">
            <div class="card card_home">
                <div class="card-body">
                    <h1 class="h1_home">STEAMPUNK</h1>
                </div>
            </div>
        </div>
        <div class="tiesto1 fas fa-terminal"></div>
        <div class="tiesto2 fas fa-play"></div>
        <div class="tiesto3 fas fa-mobile"></div>
        <div class="tiesto4 fas fa-laptop-code"></div>
        <div class="tiesto5 fas fa-gamepad"></div>
        <div class="tiesto6 fas fa-hourglass-start"></div>
    </div>
    <!-- https://source.unsplash.com/1920x1080/?nature,water -->
    <div class="container-fluid container_about" id="about" style="position: absolute; top: 100vh; left: 0;">
        <div class="card card_about" style="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore delectus iusto vitae reprehenderit
                inventore amet ullam magni quo, adipisci suscipit eos. Ab vero laboriosam beatae cumque voluptatum eum
                accusamus. Laborum in, blanditiis quidem pariatur repellat ab modi. Omnis, alias saepe aliquam enim
                numquam laboriosam quia molestias recusandae repellendus autem culpa?</p>
        </div>
        <div class="lett a_l" style="">
            <p style="color: white; font-family: 'Montserrat'; font-weight: 900; font-size: 40px;">A</p>
        </div>
        <div class="lett b_l" style="">
            <p style="color: white; font-family: 'Montserrat'; font-weight: 900; font-size: 40px;">B</p>
        </div>
        <div class="lett o_l" style="">
            <p style="color: white; font-family: 'Montserrat'; font-weight: 900; font-size: 40px;">O</p>
        </div>
        <div class="lett u_l" style="">
            <p style="color: white; font-family: 'Montserrat'; font-weight: 900; font-size: 40px;">U</p>
        </div>
        <div class="lett t_l" style="">
            <p style="color: white; font-family: 'Montserrat'; font-weight: 900; font-size: 40px;">T</p>
        </div>
        <div class="github contact" style="">
            <a style="color: white; font-size: 40px;" class="fab fa-github"></a>
        </div>
        <div class="instagram contact" style="">
            <a style="color: white; font-size: 40px;" class="fab fa-instagram"></a>
        </div>
        <div class="email contact" style="">
            <a style="color: white; font-size: 40px;" class="fas fa-envelope"></a>
        </div>
    </div>

    <div class="container-fluid container_devlog" id="devlog"
        style="position: absolute; top: 200vh; left: 0; min-height: 100vh;">
        <div class="card card_main_devlog"
            style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);">
            <div class="card-body">
                <div class="title" style="text-align: center;">
                    <h1 style="display: inline-block; color: white; font-family: 'Montserrat'; font-weight: 900; padding: 10px; margin: 5px; background-color: rgba(192, 28, 28, 0.658) !important;" class="title_lett_devlog">D</h1>
                    <h1 style="display: inline-block; color: white; font-family: 'Montserrat'; font-weight: 900; padding: 10px; margin: 5px; background-color: rgba(203, 206, 22, 0.692) !important;" class="title_lett_devlog">E</h1>
                    <h1 style="display: inline-block; color: white; font-family: 'Montserrat'; font-weight: 900; padding: 10px; margin: 5px; background-color: rgba(26, 194, 68, 0.664) !important;" class="title_lett_devlog">V</h1>
                    <h1 style="display: inline-block; color: white; font-family: 'Montserrat'; font-weight: 900; padding: 10px; margin: 5px; background-color: rgba(21, 201, 207, 0.664) !important;" class="title_lett_devlog">L</h1>
                    <h1 style="display: inline-block; color: white; font-family: 'Montserrat'; font-weight: 900; padding: 10px; margin: 5px; background-color: rgba(164, 16, 184, 0.63) !important;" class="title_lett_devlog">O</h1>
                    <h1 style="display: inline-block; color: white; font-family: 'Montserrat'; font-weight: 900; padding: 10px; margin: 5px; background-color: rgba(219, 141, 23, 0.705) !important;" class="title_lett_devlog">G</h1>
                </div>
                <h1 class="title_mobile" style="color: white; font-family: 'Montserrat'; font-weight: 900; text-align: center;">DEVLOG</h1>
                <div class="row">
                    <div class="col">
                        <h4>- Commit on January 13</h4>
                        <div class="card card_devlog">
                            <div class="card-body">
                                <p>It's just an hobby for me!</p><br>
                                <p style="font-size: 10px; font-weight: 600;">2021-01-13 </p>
                                <div class="vertical-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>- Commit on January 13</h4>
                        <div class="card card_devlog">
                            <div class="card-body">
                                <p>It's just an hobby for me!</p><br>
                                <p style="font-size: 10px; font-weight: 600;">2021-01-13 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>- Commit on January 13</h4>
                        <div class="card card_devlog">
                            <div class="card-body">
                                <p>It's just an hobby for me!</p><br>
                                <p style="font-size: 10px; font-weight: 600;">2021-01-13 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="text-align: center; position: absolute; bottom: 0; left: 0; background-color: rgba(0, 6, 95, 0.37); box-shadow: 2px -5px 15px 5px rgba(0, 6, 95, 0.37);">
            <p style="color: white; font-family: 'Montserrat'; font-weight: 100;">Made with <i class="fas fa-heart" style="color: rgb(129, 1, 248);"></i> by the OmniaStudios</p>
        </div>
    </div>
 
        

    <div class="card navbar_floating fixed-bottom" id="navbar_floating">
        <div class="card-body">
            <nav>
                <ul>
                    <a href="#home">
                        <span style="border: 3px solid white; color: white; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.534); position: absolute; top: 15px;background-color: #00a5a5;
                           padding: 10px; font-size: 20px; border-radius: 10px;"
                            class="fas fa-home btn_nav btn_home"></span>
                    </a>
                    <a href="#about">
                        <span
                            style="border: 3px solid white; color: white; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.534); position: absolute; top: 15px; left: 85px; background-color: #80fc03; padding: 10px; font-size: 20px; border-radius: 10px;"
                            class="fas fa-user btn_nav btn_about"></span>
                    </a>
                    <a href="#devlog">
                        <span
                            style="border: 3px solid white; color: white; text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.534); position: absolute; top: 15px; left: 145px; padding: 10px; font-size: 20px; border-radius: 10px; background-color: #fcba03;"
                            class="fas fa-cookie btn_nav btn_cookie"></span>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
    <%-include('./partials/footerFront.ejs');%>