@media screen and (max-width: 1024px) {
  .tiesto1 {
    display: none !important;
  }
  .tiesto2 {
    display: none !important;
  }
  .tiesto3 {
    display: none !important;
  }
  .tiesto4 {
    display: none !important;
  }
  .tiesto5 {
    display: none !important;
  }
  .tiesto6 {
    display: none !important;
  }
  .card_home {
    width: auto !important;
    /* background-color: blueviolet !important; */
    text-align: center;
  }
  .h1_home {
    font-size: 2em !important;
    text-shadow: 4px 4px #6620a0, 8px 8px #a3e111, 12px 12px rgb(66, 66, 66);
    transition: all 0.5s ease-in;
  }
  .h1_about{
    font-size: 2em !important;
    text-shadow: 4px 4px #6620a0, 8px 8px #a3e111, 12px 12px rgb(66, 66, 66);
  }
  .card_about {
    width: 18rem;
  }
  .container_about {
    height: 100vh;
  }
  .lett {
    display: none !important;
  }
  .card_about {
    width: auto !important;
  }
  .contact {
    display: none !important;
  }
  .title {
    display: none !important;
  }
  .card_main_devlog {
    width: 90%;
  }
  .cursor {
    display: none !important;
  }
  .team_desk {
    display: none;
  }
  .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0) translateY(0);
    padding: 0 !important;
  }
  .navbar_floating_mobile{
    display: block;
  }
  .navbar_floating{
    display: none !important;
  }
  #arrow_down{
    display: none;
  }
 .btn_up{
   display: none;
 }
 .carousel-item > img{
  border-radius: 10px 10px 0px 0px !important;
 }
 .col_p{
   padding: 200px !important;
 }
 .p_dev{
   padding: 0px 30px 30px 30px;
 }
 .title_dev{
   padding-left: 30px;
 }
 .footer_dev{
   padding: 15px 0px 0px 30px;
 }
 .h1_dev{
   font-size: 8vh;
   text-shadow: 6px 6px #6620a0, 10px 10px #a3e111, 14px 14px rgb(66, 66, 66);
 }
 .p_dev_home{
   width: 80%; 
   font-size: 10px;
 }
 .hor_line{
   width: 50%;
 }
 footer{
   position: absolute;
   left: 50%;
   transform: translateX(-50%) translateY(0);
   width: 80%;
   text-align: center;
   font-size: 10px;
   padding: 0 !important;
 }
}

@media screen and (min-width: 1024px) {
  .card_about {
    width: 50vh !important;
  }
  .container_about {
    height: 50vh !important;
  }
  .title_mobile {
    display: none !important;
  }
  .card-columns {
    padding: 100px;
  }
  .team_mobile {
    display: none;
  }
  #navbar_floating_mobile{
    display: none;
  }
  .navbar_floating{
    display: block;
  }
  #arrow_down_mobile{
    display: none;
  }
  #btn_nav_mobile{
    display: none;
  }
  .p_dev{
    padding-right: 30px;
  }
  footer{
    font-size: 15px;
  }
  .card_margin{
    margin-top: 50px;
  }
}
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
}
