@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=India+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  cursor: none !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background-color: #101357 !important;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(119, 0, 255);
}

::selection {
  color: white;
  background: rgb(119, 0, 255);
}

.navbar_floating {
  z-index: 2 !important;
  width: 215px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid transparent !important;
  border-radius: 30px !important;
  color: black !important;
  margin-bottom: 3em;
  position: fixed;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50px) !important;
  opacity: 0;
  transition: all 1s ease !important;
}
.navbar_floating.scrolled {
  transition-delay: 1000ms;
  transform: translateX(-50%) translateY(0px) !important;
  opacity: 1;
}

.navbar_floating_mobile {
  z-index: 2 !important;
  width: 215px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid transparent !important;
  border-radius: 30px !important;
  color: black !important;
  margin-bottom: 3em;
  position: fixed;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50px) !important;
  opacity: 0;
  transition: all 1s ease !important;
}
.navbar_floating_mobile.scrolled {
  transition-delay: 1000ms;
  transform: translateX(-50%) translateY(0px) !important;
  opacity: 1;
}
#arrow_down {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px) !important;
  border: 1px solid transparent !important;
  border-radius: 100% !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  height: 80px;
  width: 80px;
  margin-bottom: 3em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  transition: all 1s ease !important;
}
#arrow_down_mobile {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(4px) !important;
  border: 1px solid transparent !important;
  border-radius: 100% !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  height: 80px;
  width: 80px;
  margin-bottom: 3em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(0%);
  transition: all 1s ease !important;
}
.fa-arrow-down {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  color: white;
  opacity: 1;
  transition: all 1s ease !important;
}
a {
  cursor: none !important;
}
.fa-arrow-down.scrolled {
  transition: all 1s ease !important;
  transform: translateX(-50%) translateY(50px);
  opacity: 0;
}
#arrow_down.scrolled {
  width: 215px;
  border-radius: 30px !important;
}
#arrow_down.scrolledMore {
  width: 270px;
  border-radius: 30px !important;
}
#arrow_down_mobile.scrolled {
  border-radius: 30px !important;
}
#arrow_down.scrolled > .fa-arrow-down {
  display: none;
}
#btn_nav {
  z-index: 2;
  transform: translateY(-50px);
}
#btn_nav.scrolled {
  transform: translateY(0);
}
.btn_home.scrolledMore {
  position: absolute;
  left: -5px !important;
}
.btn_about.scrolledMore {
  position: absolute;
  left: 55px !important;
}
.btn_devlog.scrolledMore {
  position: absolute;
  left: 110px !important;
}
.btn_up {
  opacity: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 100% !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 15px;
  left: 185px;
  padding: 10px;
  font-size: 25px;
  transform: translateX(50px);
  
}
.btn_up.scrolled{
  opacity: 1;
  transform: translateX(0px);
}
.vertical_line{
  position: absolute;
  top: 15px;
  left: 170px;
  width: 1px;
  height: 45px;
  background-color: #777;
  transform: translateX(50px);
  opacity: 0;
  transition: all 1s ease;
}
.vertical_line.scrolledMore{
  opacity: 1;
  transform: translateX(0px);
}
.btn_nav {
  cursor: none !important;
  transition: all 1s ease;
}

.btn_nav:hover {
  cursor: none !important;
  transform: scale(1.2);
}

#btn_nav_mobile {
  z-index: 2;
  transform: translateY(-50px);
}
#btn_nav_mobile.scrolled {
  transform: translateY(0);
}

.btn_nav_mobile {
  cursor: none !important;
  transition: all 1s ease;
}

.btn_nav_mobile:hover {
  cursor: none !important;
  transform: scale(1.2);
}

.cursor {
  z-index: 100 !important;
  position: absolute;
  pointer-events: none;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
}

.card_home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: 20px;
  color: white;
  width: fit-content;
}
/* 
.card_home_cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba( 255, 255, 255, 0.10 ) !important;
    border-radius: 5px !important;
    box-shadow: 0 0px 10px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 4px ) !important;
    border-radius: 30px !important;
    
} */

.h1_home {
  font-family: "Archivo Black" !important;
  font-size: 10vh;
  color: white;
  text-shadow: 8px 8px #6620a0, 16px 16px #a3e111, 24px 24px rgb(66, 66, 66);
  transition: all 0.5s ease-in;
}

.h1_home:hover {
  text-shadow: 0px 0px #6620a0, 0px 0px #a3e111, 0px 0px rgb(66, 66, 66);
}

.tiesto1 {
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translateX(-50%) translateY(-50%);
}
.tiesto2 {
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 38%;
  left: 28%;
  transform: translateX(-50%) translateY(-50%);
}
.tiesto3 {
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 62%;
  left: 28%;
  transform: translateX(-50%) translateY(-50%);
}
.tiesto4 {
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 62%;
  right: 22%;
  transform: translateX(-50%) translateY(-50%);
}
.tiesto5 {
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateX(-50%) translateY(-50%);
}
.tiesto6 {
  color: white;
  font-size: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 38%;
  right: 22%;
  transform: translateX(-50%) translateY(-50%);
}

.card_about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  font-family: "Montserrat";
  font-weight: 300;
  color: white;
}
.a_l {
  background-color: rgba(199, 33, 33, 0.637) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 12vh;
  left: 26%;
  width: 50px;
  height: 50px;
}
.a_l > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.b_l {
  background-color: rgba(185, 204, 14, 0.63) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 18vh;
  left: 29%;
  width: 50px;
  height: 50px;
}
.b_l > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.o_l {
  background-color: rgba(9, 255, 0, 0.589) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 24vh;
  left: 28%;
  width: 50px;
  height: 50px;
}
.o_l > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.u_l {
  background-color: rgba(8, 242, 250, 0.63) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 30vh;
  left: 30%;
  width: 50px;
  height: 50px;
}
.u_l > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.t_l {
  background-color: rgba(170, 16, 190, 0.671) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 36vh;
  left: 27%;
  width: 50px;
  height: 50px;
}
.t_l > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.github {
  background-color: rgba(255, 255, 255, 0.295) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 7vh;
  right: 30%;
  width: 80px;
  height: 80px;
}
.github > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none !important;
  transition: all 0.5s ease;
}
.github:hover {
  transform: scale(1.2);
}

.instagram {
  background-color: rgba(255, 255, 255, 0.295) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 20vh;
  right: 28%;
  width: 80px;
  height: 80px;
}
.instagram > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none !important;
  transition: all 0.5s ease;
}
.instagram:hover {
  transform: scale(1.2);
}

.email {
  background-color: rgba(255, 255, 255, 0.295) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  top: 33vh;
  right: 30%;
  width: 80px;
  height: 80px;
}
.email > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none !important;
  transition: all 0.5s ease;
}
.email:hover {
  transform: scale(1.2);
}
.container_devlog {
  min-height: 100vh;
}

.card_devlog {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  font-family: "Montserrat";
  font-weight: 300;
  color: white;
  line-height: 2px;
  width: auto;
}
h4 {
  color: white !important;
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card_main_devlog {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
}
.title_lett_devlog {
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
}
.title_mobile {
  background-color: rgba(0, 255, 64, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
}
.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yelloww;
}
.card_info {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  font-family: "Montserrat";
  font-size: small;
  color: white;
  transition: all 1s ease;
}
.card_img_over {
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  font-family: "Montserrat";
  font-size: small;
  color: white;
  transition: all 1s ease;
}
.card_img_over > img {
  border-radius: 10px !important;
}
.card_center {
  /* background-color: rgba(141, 255, 112, 0.548) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important; */
  background-color: white !important;
  font-family: "Montserrat";
  font-size: small;
  color: #777 !important;
}

ol > li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 40% !important;
}
ol > li.active {
  width: 11px !important;
  height: 11px !important;
}
.card_carousel {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  font-family: "Montserrat";
  font-size: small;
  color: white;
  transition: all 1s ease;
}
.card_carousel:hover {
  transform: scale(1.009);
}
.card-title {
  text-transform: uppercase;
  font-family: "Archivo Black" !important;
  color: white;
  text-shadow: 2px 2px #6620a0, 4px 4px #a3e111;
  transition: all 0.5s ease-in;
}
:root {
  --mainColor: #a3e111;
}
.btn_more {
  color: white !important;
  padding: 0 !important;
}

.btn_more > .fa-angle-right {
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateX(-10px);
}
.btn_more:hover > .fa-angle-right {
  transform: translateX(0px);
  visibility: visible;
}
.btn_more:hover > .border_link {
  border: 1px solid transparent !important;
}

.card_info_team,
.card_info_team_img {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  font-family: "Montserrat";
  font-size: small;
  color: white;
  transition: all 1s ease;
}
.card_info_team:hover {
  transform: scale(1.009);
}
.card_info:hover > .btn_more {
  color: black !important;
}
.tooltip-inner {
  backdrop-filter: blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
.tooltip > .arrow {
  display: none !important;
}
.tooltip {
  z-index: 1 !important;
  backdrop-filter: blur(4px) !important;
}
li {
  list-style: none;
}
.footer_li {
  font-family: "Montserrat";
  color: white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid white;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.534);
  background-color: #fc2803;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  width: 55px;
  height: 50px;
}
.closebtn > .fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.h1_dev{
  text-align: center;
  font-family: "Archivo Black" !important;
  font-size: 10vh;
  padding: 30px;
  color: white;
  text-shadow: 8px 8px #6620a0, 16px 16px #a3e111, 24px 24px rgb(66, 66, 66);
  transition: all 0.5s ease-in;
  position: absolute; 
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.hor_line{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70vh;
  height: 1px;
  background-color: #777;
}
.p_dev_home{
  font-family: 'Montserrat';
  color: white;
  position: absolute; 
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-weight: 100;
}
b{
  font-weight: 500 !important;
}
.content > a{
  color: white !important;
  text-decoration: none !important;
  
}
.card_info_team_img > a{
  color: white !important;
  text-decoration: none !important;
}

.card_dev{
  font-family: 'Montserrat';
  color: white;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px !important;
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
}
.p_dev{
  font-size: 0.8em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(4px);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.349); 
}


.btn_website {
  color: white !important;
  padding: 0 !important;
}

.btn_website > .fa-angle-right {
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateX(-10px);
}
.btn_website:hover > .fa-angle-right {
  transform: translateX(5px);
  visibility: visible;
}